.peroson-desc{
	font-size: 14px;line-height:25px;padding-bottom: 20px;
}

.person-desc{
	display: flex;
	display: -webkit-flex;
	margin-top: 50px;
	
}
.person-desc-left{
	width: 200px;height: 300px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.person-desc-right{
	flex: 1;margin-right: 50px;
}
.liuyan,.liuyan-list{
	padding: 50px 0;border-top: 1px solid gainsboro;margin-top: 50px;font-size: 16px;text-align: center;cursor: pointer;
}
.liuyan{
	margin-top: 0px;
}
.mail{
	height: 100px;
}
.mail:hover{
	height: 120px;
}
.liuyan:hover{
	font-size: 18px;font-weight: bold;
}
.liuyan-list{
	text-align: left;
}
.liuyan-content,.liuyan-time{
	text-indent: 2em;font-size: 14px;padding-top: 10px;
}
.lists{
	margin-bottom: 40px;
}
