@media screen  and (max-width: 1680px){
	.container{
		width:70%
	}
	.container2{
		width: 50%;
	}
	.swiper-container{
		height: 350px;
	}
}
@media screen  and (max-width: 1440px){
	.container{
		width:80%
	}
	.container2{
		width: 60%;
	}
	.swiper-container{
		height: 300px;
	}
}
@media screen  and (max-width: 1360px){
	.container{
		width:90%
	}
	.container2{
		width: 70%;
	}
	
}
@media screen  and (max-width: 700px){
	.container{
		width:90%
	}
	.container2{
		width: 90%;
	}
	.recommend-container,.title3{
		display: none;
	}
	.section{
		width: 48%;margin-right: 2%;
	}
	.navs{
		margin-right: 10px;
	}
	.swiper-container{
		height: 200px;
		width: 100%;
	}
	.person-desc{
		display: block;text-align: center;
	}
	.person-desc-left{
		width: 300px;
		height: 500px;
		margin: 0 auto;
	}
	.person-desc-right{
		margin-right: 0;
	}
	.basic-grey{
		max-width: 300px;
	}
}

@media screen  and (max-width:320px){
	.navs{
		font-size: 12px;margin-right: 5px;
	}
}
